<%= form_with model: @user, url: user_registration_path, method: :patch, local: true do |f| %>
<%= render 'devise/registrations/error_messages', user: @user %>
<div class="registration">
  <div class="registration-contents">ユーザー情報編集</div>
    <%= f.label :name, "ユーザー名" %>
    <%= f.text_field :name, class:"name", placeholder:"氏名を入力してください" %>
    <%= f.label :department, "所属部署" %>
    <%= f.text_field :department, class:"department", placeholder:"所属部署を入力してください" %>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class:"registration-email", placeholder:"メールアドレスを入力してください" %>
    <div class="btn-submit">
    <%= f.submit "保存する" ,class:"registration-btn" %>
    <%= link_to "戻る", root_path, class:"btn-top-page"%>
    </div>
</div>
<% end %>
