<%= search_form_for @d, url: search_documents_path do |f| %>
<div class="search-documents">
  <div class="search-select">
    <%= f.collection_select :title_eq, @document_title, :title, :title, include_blank: '文書名を選択する' %>
  </div>
  <div class="search-select">
    <%= f.collection_select :jurisdiction_department_eq, @document_jurisdiction_department, 
                            :jurisdiction_department, :jurisdiction_department, include_blank: '所管部署を選択する' %>
  </div>
  <div class="search-select">
    <%= f.collection_select :disposal_date_eq, @document_disposal_date, :disposal_date, :disposal_date, include_blank: '廃棄年月日を選択する' %>
  </div>
  <div class="submit-btn" >
    <%= submit_tag  "\uF002", class: "search-btn" %>
  </div>
</div>
<% end %>