<div class="user-greeting">
  <% if user_signed_in? %>
  <%= current_user.name %>さん、こんにちは！
  <% end %>
</div>
<%= render 'documents/search_documents', document: @document %>
<div class="documents-list">登録文書一覧</div>
<div class="documents">
<% if @documents.length !=0 %>
  <% @documents.each do |document| %>
    <div class="document">
      <%= link_to document.title, document_path(document.id), method: :get, class: "document-contents" %>
      <%= link_to document.jurisdiction_department, document_path(document.id), method: :get, class: "document-contents" %>
      <%= link_to document.disposal_date, document_path(document.id), method: :get, class: "document-contents" %> 
    </div>
  <% end %>
<% else %>
<div class="none-document">管理対象の文書を登録してください</div>
<% end %>
</div>