<%= form_with model: @document, url: documents_path, method: :post, local: true do |f| %>
<%= render 'documents/error_messages', document: @document %>
  <div class="document-form">新規文書登録</div>
    <div class="document-container">
      <%= f.label :title, "文書名", class: "new-label" %>
      <%= f.text_field :title, class:"title", class:"new-field", placeholder:"文書名を入力してください" %>
      <%= f.label :jurisdiction_department, "所管部署", class: "new-label" %>
      <%= f.text_field :jurisdiction_department, class:"new-field", placeholder:"所管部署を入力してください" %>
      <%= f.label :category_id, "カテゴリー", class: "new-label" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"new-select"}) %>
      <%= f.label :storage_period_id, "保存期限", class: "new-label" %>
      <%= f.collection_select(:storage_period_id, StoragePeriod.all, :id, :name, {}, {class:"new-select"}) %>
      <%= f.label :storage_location, "保管場所", class: "new-label" %>
      <%= f.collection_select(:storage_location_id, StorageLocation.all, :id, :name, {}, {class:"new-select"}) %>
      <div class="disposal-date">
      <p>廃棄年月日</p>
      <%= raw sprintf(
            f.date_field(
              :disposal_date,
              class:"select-disposal",
              use_month_numbers: true,
              prompt:'--',
              start_year: 2020,
              end_year: (Time.now.year + 50),
              date_separator: '%s'),
            '年 ', '月 ') %>
     </div>
     <div class="document-btn">
     <%= f.submit "登録する" ,class:"btn" %>
     <%= link_to "戻る", root_path, class:"btn-back" %>
     </div>
  </div>
<% end %>