<div class="document-detail">
  <div class="detail">文書詳細情報</div>
  <hr width="300">
  <div class="document-title">
    <div class="document-items">文書名</div>
    <b><%= @document.title %></b>
  </div>
  <div class="document-jurisdiction-department">
    <div class="document-items">所管部署</div>
    <b><%= @document.jurisdiction_department %></b>
  </div>
  <div class="document-category">
    <div class="document-items">カテゴリー</div>
    <b><%= @document.category.name %></b>
  </div>
  <div class="document-storage-period">
    <div class="document-items">保存期間</div>
    <b><%= @document.storage_period.name %></b>
  </div>
  <div class="document-storage-period">
    <div class="document-items">保管場所</div>
    <b><%= @document.storage_location.name %></b>
  </div>
  <div class="document-disposal-date">
    <div class="document-items">廃棄年月日</div>
    <b><%= @document.disposal_date %></b>
  </div>
  <div class="script">
    <%= render 'documents/script', document: @document %>
  </div>
  <hr width="300">
  <div class="btn-contents">
  <% if user_signed_in? && current_user.id == @document.user.id %>
    <p><%= link_to "編集する", edit_document_path, method: :get, class:"edit-btn" %></p>
    <p><%= link_to "削除する", document_path, method: :delete, class: "delete-btn" %></p>
  <% end %>
  <p><%= link_to "戻る", root_path, class:"btn-to-back"%></p>
  </div>
</div>