<!DOCTYPE html>
<html>
  <head>
    <title>DocumentManagement</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="small.css" media="screen and (max-width:480px)">
    <link rel="stylesheet" href="medium.css" media="screen and (min-width:480px) and (max-width:1024px)"> 
    <link rel="stylesheet" href="wide.css" media="screen and (min-width:1024px)">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
  	  <div class="headline">
        <%= link_to "Document Management[文書保管・廃棄管理システム]".html_safe, root_path, class:"headline-name" %>
      </div>
      <ul class="nav-list">
      <% if user_signed_in? %>
        <li class="nav-list-item">
          <%= link_to "文書登録", new_document_path, class:"header-items" %>
        </li>
        <li class="nav-list-item">
          <%= link_to current_user.name, user_path(current_user), method: :get, class: "header-items" %></li>
        </li>
        <li class="nav-list-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-items", data: { confirm: "ログアウトしてよろしいですか？"} %>
        </li>
        <% else %>
        <li class="nav-list-item">
          <%= link_to "ログイン", new_user_session_path, class: "header-items" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ユーザー新規登録", new_user_registration_path, class: "header-items" %>
        </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>© All rights reserved by Kosei Suzuki.</p>
    </footer>
  </body>
</html>
